header{
    background-image: url(img/pattern.png)
    ;
    background-color: cornflowerblue;
    background-size: 30%;
    background-repeat: repeat;
    height: 30%;
}


.logo{
    width: 20%;
}

.text-grey{
    color: grey;
}

.text-blue{
    color: skyblue;
}

.didascalia{
    font-size: 10px;
}

.highlighted{
    background-color: yellow;
}

thead{
    background-color: rgb(37, 132, 214);
    color: white;
    text-align: left;
}

.blue-row{
    background-color: skyblue;
}

.body{
    height: 80px;
}

td{
    width: 25%;
}

.terza-colonna{
    width: 50%;
}